.nav {
  position: fixed;
  top: 30%;
  left: 40px;
  ul {
    padding: 0;
    list-style: none;
  }
  ul li {
    margin: 6px;
    a {
      color: #828282;
      font-family: Montserrat;
      font-weight: bold;
      font-size: 14px;
      letter-spacing: .1rem;
    }
    &.active {
      a {
        color: #F2F2F2;
      }
    }
  }
  &_toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    display: none;
    width: 22px;
    span {
      display: block;
      overflow: hidden;
      height: 3px;
      margin: 3px 0;
      background-color: #F2F2F2
    }
  }
}

@media screen and (max-width: 1100px) {
  .nav {
    top: 0;
    padding: 20px;
    left: -300px;
    transition: left 200ms;
    &_toggle {
      display: block;
    }
    &.in {
      left: 0;
      width: 320px;
      background-color: rgb(24, 24, 24);
      bottom: 0;
    }
    ul {
      padding: 100px 20px 20px ;
    }
  }
}

@media screen and (max-width: 580px) {
  .nav.in {
    width: 100%;
  }
  .nav ul {
   text-align: center ;
  }
  .nav li{
    margin-top: 20px ;
    display: block ;
  }
  .nav ul li a{
    display: block ;
    padding: 10px ;
    font-size: 1.5rem ;
  }
}